{{- define "fullpage" }}
<section class="s:mt-10" >
    <div onclick="closePassBox()" class="closeIcon"><i class="fa-solid fa-xmark fa-2xl"></i></div>
    <div class="flex justify-center sm:flex-row ">  
        <div class="h-screen text-center" id="passwordContent">
            <img src="https://i.328888.xyz/2023/03/20/P9ilt.png" >
            <h1 >Please enter password  <br> to view my portfolio</h1>
            <p>To View, Please enter the Password</p>
            <div class=" ssm:mt-10 mt-4 mb-8 " id="passwordSec">
                <input type="password" id="pass" name="password"
                minlength="8" required  placeholder="Enter Password">
                <button  type="button" onclick="enterPassword()">Let's go</button>
            </input>
            </div>
        </div>
    </div>
</section>
{{- end }}{{/* end main */ -}}
